
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: Arial, sans-serif;
   background-color: #ff6600;
}
  
/* Navigation */
nav {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}
  
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.logo {
    font-size: 24px;
}
  
.nav-links {
    list-style: none;
}
  
.nav-links li {
    display: inline;
    margin-right: 20px;
}
  
.nav-links li a {
    color: #fff;
    text-decoration: none;
}
  
/* Hero Section */
.hero {
    background-image: url("Homepage\ pic.webp");
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}
  
.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}
  
.hero p {
    font-size: 24px;
    margin-bottom: 40px;
}
  
.cta-btn {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}
  
.cta-btn:hover {
    background-color: #e55500;
}

.services h1 {
    text-align: center;
}
.cart-icon {
    position: relative;
}

.cart-icon i {
    font-size: 24px; /* Adjust as needed */
    cursor: pointer;
}

.cart-icon span {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

